/* PC */
@media (min-width: 992px) {
    .menu-checkbox,
    .menu-mobile-tablet,
    .on-show-mobile {
        display: none;
    }
}

/* Tablet and Mobile */
@media (max-width: 991.98px) {
    .hide-on-table-mobile,
    .on-show-mobile {
        display: none;
    }

    .header .nav {
        display: none;
    }

    .header .body {
        position: relative;
        padding: 12px 0px;
    }

    .header .logo {
        position: absolute;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
    }
    .menu-overlay {
        position: fixed;
        inset: 0;
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s ease;
        background: rgba(0, 0, 0, 0.3);
    }

    .menu-drawer {
        position: fixed;
        inset: 0 60% 0 0;
        z-index: 2;
        background-color: #fff;
        transform: translateX(-100%);
        transition: transform 0.5s ease;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        visibility: visible;
        opacity: 1;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .menu-drawer {
        padding: 40px;
    }

    .menu-drawer ul {
        margin-top: 32px;
    }

    .menu-drawer ul a {
        display: block;
        color: #333;
        font-weight: 500;
        padding: 14px 0;
    }

    .feature .title {
        width: 80%;
    }

    .hero .image {
        display: none;
    }

    .hero .info {
        width: 100%;
    }

    .hero .info .sub-title,
    .hero .info .title,
    .hero .info .desc {
        margin: 0 auto;
        text-align: center;
    }

    .hero .info .group {
        justify-content: center;
    }

    .courses .course-item img {
        width: 100%;
    }

    .footer .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 80px 160px;
    }

    .footer .item h3 {
        white-space: nowrap;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
    .hide-on-table {
        display: none;
    }

    .feature .row {
        grid-template-columns: repeat(2, 1fr);
        gap: 80px 0;
    }

    .courses .list-course {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 170px;
    }

    .feedback .feedback-item .desc {
        font-size: 2.4rem;
    }

    .cta .row {
        justify-content: space-between;
    }

    .cta .btn {
        margin-left: initial;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .menu-drawer-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .separate {
        border-top: 1px solid #ccc;
    }
    .on-show-mobile {
        display: block;
    }

    .hide-on-mobile,
    .header .actions {
        display: none;
    }

    .menu-drawer {
        inset: 0 20% 0 0;
    }

    .feature .row,
    .courses .list-course {
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    .courses .list-course {
        row-gap: 160px;
    }

    .stats .body {
        align-items: center;
        flex-direction: column;
        row-gap: 60px;
        text-align: center;
    }

    .feedback .feedback-item {
        flex-direction: column-reverse;
    }

    .feedback .feedback-item .info.img-feedback {
        margin-right: initial;
    }

    .cta .row {
        text-align: center;
        flex-direction: column;
    }

    .cta .btn {
        margin: 10px 0 0 0;
    }

    .footer .row {
        grid-template-columns: 1fr;
    }

    .courses .block-course .group {
        justify-content: center;
    }

    .feature .title,
    .courses .title,
    .cta .body .title {
        font-size: 3.6rem;
    }

    .feature .desc,
    .courses .row .desc {
        width: 50%;
    }

    .hero .info .desc {
        width: 70%;
    }

    .footer .copyright p {
        font-size: 1.1rem;
    }
}
